<mat-toolbar color="primary">
    <button type="button" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Toolbar</span>
</mat-toolbar>
<br>
<form [formGroup]="form">
    <div class="grid-container">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
    </div>
</form>

<!-- <div class="center-it">
    <div class="grid-container">
        <app-num-input (onNewNumber)="processNumber($event)"></app-num-input>
        <app-num-list [numbers]="numList"></app-num-list>
    </div>
</div> -->


